name: .NET
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: chmod +x ./build_linux.sh && ./build_linux.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: linux-x64
          path: |
            TownSuite.CodeSigning.Service/bin/Release/net8.0
            TownSuite.CodeSigning.Client/bin/Release/net8.0/*
          retention-days: 1
      - name: Archive Self Contained Linux Client
        uses: actions/upload-artifact@v6
        with:
          name: linux-x64-client
          path: |
            TownSuite.CodeSigning.Client/bin/Release/net8.0/linux-x64/publish/
          retention-days: 1
      - name: Archive Self Contained Debian Linux Client
        uses: actions/upload-artifact@v6
        with:
          name: linux-x64-client-deb
          path: |
            **/**/*.deb
          retention-days: 1

  windows-build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: ./build_windows.ps1
      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: win-x64
          path: |
            TownSuite.CodeSigning.Service/bin/Release/net8.0
            TownSuite.CodeSigning.Client/bin/Release/net8.0/*
          retention-days: 1
      - name: Archive Self Contained Windows Client
        uses: actions/upload-artifact@v6
        with:
          name: win-x64-client
          path: |
            TownSuite.CodeSigning.Client/bin/Release/net8.0/win-x64/publish/
          retention-days: 1
